<hr/ >
<ul class="socials">
  <li><a href="https://twitter.com/colin_fraser">Twitter</a></li>
  <li><a href="https://github.com/colin-fraser">GitHub</a></li>
  <li><a href="https://www.linkedin.com/in/colin-fraser/">LinkedIn</a></li>
</ul>
<script src="{{ "/js/math-code.js" | relURL }}"></script>
<script async src="{{ .Site.Params.MathJaxCDN | default "//cdnjs.cloudflare.com/ajax/libs" }}/mathjax/{{ .Site.Params.MathJaxVersion | default "2.7.5" }}/MathJax.js?config=TeX-MML-AM_CHTML"></script>
<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
<script>hljs.highlightAll();</script>